<div class="city animated bounceIn" *ngFor="let city of cities$ | async">
    <div class="buttonContainer">
      <span class="detailButton" (click)="goCity(city)" ><i class="fa fa-search">detail</i></span>
      <span class="deleteButton" (click)="deleteCity(city)"><i class="fa fa-close">delete</i></span>
    </div>
    <span>{{city?.name}} : {{city?.sys.country}}</span>
    <span>- {{city?.weather[0].main}} : {{city?.weather[0].description}}</span>
    <span>Temperature : {{ returnMainTemp(city?.main.temp) }}</span>
</div>
